In [19]:
import pandas as pd
import numpy as np

In [25]:
data=pd.ExcelFile("data.xlsx")

In [29]:
data1=pd.ExcelFile("data_1.xlsx")

In [30]:
sheet_na=data.sheet_names
sheet_na1=data1.sheet_names

In [11]:
sheet_na

['Info',
 'Cycle_67_1_1',
 'Statis_67_1_1',
 'Detail_67_1_1',
 'Detail_67_1_1_1',
 'Detail_67_1_1_2',
 'Detail_67_1_1_3',
 'Detail_67_1_1_4',
 'Detail_67_1_1_5',
 'Detail_67_1_1_6',
 'DetailVol_67_1_1',
 'DetailVol_67_1_1_1',
 'DetailVol_67_1_1_2',
 'DetailVol_67_1_1_3',
 'DetailVol_67_1_1_4',
 'DetailVol_67_1_1_5',
 'DetailVol_67_1_1_6',
 'DetailTemp_67_1_1',
 'DetailTemp_67_1_1_1',
 'DetailTemp_67_1_1_2']

In [74]:
sheet_na1

['DetailTemp_67_1_1_3',
 'DetailTemp_67_1_1_4',
 'DetailTemp_67_1_1_5',
 'DetailTemp_67_1_1_6']

In [75]:
det_list=sheet_na[3:10]
det_vol=sheet_na[10:17]
det_temp=sheet_na[17:]
det_temp1=sheet_na1[0:]

In [76]:
det_list

['Detail_67_1_1',
 'Detail_67_1_1_1',
 'Detail_67_1_1_2',
 'Detail_67_1_1_3',
 'Detail_67_1_1_4',
 'Detail_67_1_1_5',
 'Detail_67_1_1_6']

In [77]:
det_vol

['DetailVol_67_1_1',
 'DetailVol_67_1_1_1',
 'DetailVol_67_1_1_2',
 'DetailVol_67_1_1_3',
 'DetailVol_67_1_1_4',
 'DetailVol_67_1_1_5',
 'DetailVol_67_1_1_6']

In [78]:
det_temp

['DetailTemp_67_1_1', 'DetailTemp_67_1_1_1', 'DetailTemp_67_1_1_2']

In [79]:
det_temp1

['DetailTemp_67_1_1_3',
 'DetailTemp_67_1_1_4',
 'DetailTemp_67_1_1_5',
 'DetailTemp_67_1_1_6']

In [80]:
Detail_67_ = pd.DataFrame()

In [81]:
for sheet in det_list: # loop through sheets inside an Excel file
    df = data.parse(sheet_name = sheet)
    Detail_67_= Detail_67_.append(df)

In [82]:
Detail_67_.to_csv("Detail_67_.csv")

In [83]:
Detail_vom=pd.DataFrame()
Detail_temp1=pd.DataFrame()

In [84]:
for sheet in det_vol:
    df = data.parse(sheet_name=sheet)
    Detail_vom=Detail_vom.append(df)

In [85]:
Detail_vom.to_csv("Detail_vol_67.csv")

In [86]:
for sheet in det_temp:
    df = data.parse(sheet_name=sheet)
    Detail_temp1=Detail_temp1.append(df)

In [87]:
for sheet in det_temp1:
    df = data1.parse(sheet_name=sheet)
    Detail_temp1=Detail_temp1.append(df)

In [88]:
Detail_temp1=Detail_temp1.to_csv("Detail_temp_67.csv")

In [89]:
Detail_67_=pd.read_csv("Detail_67_.csv")

In [90]:
Detail_67_

,Unnamed: 0,Record Index,Status,JumpTo,Cycle,Step,Cur(mA),Voltage(V),CapaCity(mAh),Energy(mWh),Relative Time(h:min:s.ms),Absolute Time
0,0,1,Rest,1,1,1,0.0,3.5900,0.0,0.0,0:00:00.000,2020-10-10 20:03:39
1,1,2,Rest,1,1,1,0.0,3.5900,0.0,0.0,0:00:01.000,2020-10-10 20:03:40
2,2,3,Rest,1,1,1,0.0,3.5900,0.0,0.0,0:00:02.000,2020-10-10 20:03:41
3,3,4,Rest,1,1,1,0.0,3.5900,0.0,0.0,0:00:03.000,2020-10-10 20:03:42
4,4,5,Rest,1,1,1,0.0,3.5900,0.0,0.0,0:00:04.000,2020-10-10 20:03:43
...,...,...,...,...,...,...,...,...,...,...,...,...
416676,23466,458630,Rest,108,21,83,0.0,3.5856,0.0,0.0,0:09:56.000,2020-10-16 03:25:35
416677,23467,458631,Rest,108,21,83,0.0,3.5853,0.0,0.0,0:09:57.000,2020-10-16 03:25:36
416678,23468,458632,Rest,108,21,83,0.0,3.5853,0.0,0.0,0:09:58.000,2020-10-16 03:25:37
416679,23469,458633,Rest,108,21,83,0.0,3.5856,0.0,0.0,0:09:59.000,2020-10-16 03:25:38
416680,23470,458634,Rest,108,21,83,0.0,3.5856,0.0,0.0,0:10:00.000,2020-10-16 03:25:39

In [91]:
Detail_67_['Status'].unique()

array(['Rest', 'CCCV_DChg', 'CCCV_Chg'], dtype=object)

In [95]:
Detail_67_.drop('Unnamed: 0', inplace=True, axis=1)

In [96]:
Detail_67_

,Record Index,Status,JumpTo,Cycle,Step,Cur(mA),Voltage(V),CapaCity(mAh),Energy(mWh),Relative Time(h:min:s.ms),Absolute Time
0,1,Rest,1,1,1,0.0,3.5900,0.0,0.0,0:00:00.000,2020-10-10 20:03:39
1,2,Rest,1,1,1,0.0,3.5900,0.0,0.0,0:00:01.000,2020-10-10 20:03:40
2,3,Rest,1,1,1,0.0,3.5900,0.0,0.0,0:00:02.000,2020-10-10 20:03:41
3,4,Rest,1,1,1,0.0,3.5900,0.0,0.0,0:00:03.000,2020-10-10 20:03:42
4,5,Rest,1,1,1,0.0,3.5900,0.0,0.0,0:00:04.000,2020-10-10 20:03:43
...,...,...,...,...,...,...,...,...,...,...,...
416676,458630,Rest,108,21,83,0.0,3.5856,0.0,0.0,0:09:56.000,2020-10-16 03:25:35
416677,458631,Rest,108,21,83,0.0,3.5853,0.0,0.0,0:09:57.000,2020-10-16 03:25:36
416678,458632,Rest,108,21,83,0.0,3.5853,0.0,0.0,0:09:58.000,2020-10-16 03:25:37
416679,458633,Rest,108,21,83,0.0,3.5856,0.0,0.0,0:09:59.000,2020-10-16 03:25:38
416680,458634,Rest,108,21,83,0.0,3.5856,0.0,0.0,0:10:00.000,2020-10-16 03:25:39

In [97]:
Detail_67_['Status'].value_counts()

CCCV_Chg     213706
CCCV_DChg    179526
Rest          23449
Name: Status, dtype: int64

In [102]:
g = Detail_67_.groupby("Status", group_keys=False)

In [104]:
from sklearn import preprocessing

In [105]:
le = preprocessing.LabelEncoder()

In [111]:
Detail_67_['Status']=le.fit_transform(Detail_67_["Status"])

In [112]:
Detail_67_

,Record Index,Status,JumpTo,Cycle,Step,Cur(mA),Voltage(V),CapaCity(mAh),Energy(mWh),Relative Time(h:min:s.ms),Absolute Time
0,1,2,1,1,1,0.0,3.5900,0.0,0.0,0:00:00.000,2020-10-10 20:03:39
1,2,2,1,1,1,0.0,3.5900,0.0,0.0,0:00:01.000,2020-10-10 20:03:40
2,3,2,1,1,1,0.0,3.5900,0.0,0.0,0:00:02.000,2020-10-10 20:03:41
3,4,2,1,1,1,0.0,3.5900,0.0,0.0,0:00:03.000,2020-10-10 20:03:42
4,5,2,1,1,1,0.0,3.5900,0.0,0.0,0:00:04.000,2020-10-10 20:03:43
...,...,...,...,...,...,...,...,...,...,...,...
416676,458630,2,108,21,83,0.0,3.5856,0.0,0.0,0:09:56.000,2020-10-16 03:25:35
416677,458631,2,108,21,83,0.0,3.5853,0.0,0.0,0:09:57.000,2020-10-16 03:25:36
416678,458632,2,108,21,83,0.0,3.5853,0.0,0.0,0:09:58.000,2020-10-16 03:25:37
416679,458633,2,108,21,83,0.0,3.5856,0.0,0.0,0:09:59.000,2020-10-16 03:25:38
416680,458634,2,108,21,83,0.0,3.5856,0.0,0.0,0:10:00.000,2020-10-16 03:25:39

In [113]:
Detail_67_['Status'].value_counts()

0    213706
1    179526
2     23449
Name: Status, dtype: int64

In [115]:
from sklearn.utils import resample
d_0 = Detail_67_[Detail_67_.Status==0]
d_1 = Detail_67_[Detail_67_.Status==1]
d_2 = Detail_67_[Detail_67_.Status==2]
 
# Downsample majority class
d_0_downsampled = resample(d_0, 
                           replace=False,    # sample without replacement
                           n_samples=23449,     # to match minorit
                           random_state=123) # reproducible results

In [117]:
d_1_downsampled = resample(d_1, 
                           replace=False,    # sample without replacement
                           n_samples=23449,     # to match minorit
                           random_state=123) # reproducible results

In [118]:
detailDownsampled=pd.concat([d_0_downsampled,d_1_downsampled,d_2])

In [120]:
detailDownsampled=detailDownsampled.to_csv("detailDownsampled.csv")

In [121]:
Detail_vol_67=pd.read_csv("Detail_vol_67.csv")

In [122]:
Detail_vol_67

,Unnamed: 0,Record ID,Step Name,Relative Time(h:min:s.ms),Realtime,Auxiliary channel TU1 U(V),Gap of Voltage
0,0,1,Rest,0:00:00.000,2020-10-10 20:03:39,-0.0013,0
1,1,2,Rest,0:00:01.000,2020-10-10 20:03:40,-0.0013,0
2,2,3,Rest,0:00:02.000,2020-10-10 20:03:41,-0.0013,0
3,3,4,Rest,0:00:03.000,2020-10-10 20:03:42,-0.0013,0
4,4,5,Rest,0:00:04.000,2020-10-10 20:03:43,-0.0012,0
...,...,...,...,...,...,...,...
416676,23466,458630,Rest,0:09:56.000,2020-10-16 03:25:35,-0.0012,0
416677,23467,458631,Rest,0:09:57.000,2020-10-16 03:25:36,-0.0012,0
416678,23468,458632,Rest,0:09:58.000,2020-10-16 03:25:37,-0.0012,0
416679,23469,458633,Rest,0:09:59.000,2020-10-16 03:25:38,-0.0012,0
416680,23470,458634,Rest,0:10:00.000,2020-10-16 03:25:39,-0.0012,0

In [123]:
Detail_vol_67['Step Name']=le.fit_transform(Detail_vol_67["Step Name"])

In [124]:
Detail_vol_67['Step Name'].value_counts()

0    213706
1    179526
2     23449
Name: Step Name, dtype: int64

In [128]:
Detail_vol_67.rename(columns={'Step Name':'StepName'},inplace=True)

In [130]:
d_0 = Detail_vol_67[Detail_vol_67.StepName==0]
d_1 = Detail_vol_67[Detail_vol_67.StepName==1]
d_2 = Detail_vol_67[Detail_vol_67.StepName==2]
 
# Downsample majority class
d_0_downsampled = resample(d_0, 
                           replace=False,    # sample without replacement
                           n_samples=23449,     # to match minorit
                           random_state=123) # reproducible results
d_1_downsampled = resample(d_1, 
                           replace=False,    # sample without replacement
                           n_samples=23449,     # to match minorit
                           random_state=123) # reproducible results

In [133]:
detailVolDownsampled=pd.concat([d_0_downsampled,d_1_downsampled,d_2])

In [134]:
detailVolDownsampled=detailVolDownsampled.to_csv("detailVolDownsampled.csv")

In [135]:
Detail_temp_67=pd.read_csv("Detail_temp_67.csv")

In [136]:
Detail_temp_67

,Unnamed: 0,Record ID,Step Name,Relative Time(h:min:s.ms),Realtime,Auxiliary channel TU1 T(°C),Gap of Temperature
0,0,1,Rest,0:00:00.000,2020-10-10 20:03:39,27.7,0
1,1,2,Rest,0:00:01.000,2020-10-10 20:03:40,27.7,0
2,2,3,Rest,0:00:02.000,2020-10-10 20:03:41,27.7,0
3,3,4,Rest,0:00:03.000,2020-10-10 20:03:42,27.7,0
4,4,5,Rest,0:00:04.000,2020-10-10 20:03:43,27.7,0
...,...,...,...,...,...,...,...
416676,23466,458630,Rest,0:09:56.000,2020-10-16 03:25:35,28.4,0
416677,23467,458631,Rest,0:09:57.000,2020-10-16 03:25:36,28.4,0
416678,23468,458632,Rest,0:09:58.000,2020-10-16 03:25:37,28.4,0
416679,23469,458633,Rest,0:09:59.000,2020-10-16 03:25:38,28.4,0
416680,23470,458634,Rest,0:10:00.000,2020-10-16 03:25:39,28.4,0

In [138]:
Detail_temp_67['Step Name']=le.fit_transform(Detail_temp_67["Step Name"])

In [140]:
Detail_temp_67['Step Name'].value_counts()

0    213706
1    179526
2     23449
Name: Step Name, dtype: int64

In [142]:
Detail_temp_67.rename(columns={'Step Name':'StepName'},inplace=True)

In [144]:
d_0 = Detail_temp_67[Detail_temp_67.StepName==0]
d_1 = Detail_temp_67[Detail_temp_67.StepName==1]
d_2 = Detail_temp_67[Detail_temp_67.StepName==2]
 
# Downsample majority class
d_0_downsampled = resample(d_0, 
                           replace=False,    # sample without replacement
                           n_samples=23449,     # to match minorit
                           random_state=123) # reproducible results
d_1_downsampled = resample(d_1, 
                           replace=False,    # sample without replacement
                           n_samples=23449,     # to match minorit
                           random_state=123) # reproducible results

In [145]:
detailTempDownsampled=pd.concat([d_0_downsampled,d_1_downsampled,d_2])

In [146]:
detailTempDownsampled=detailTempDownsampled.to_csv("detailTempDownsampled.csv")

In [147]:
import numpy as np
from scipy.signal import butter, lfilter, freqz
from matplotlib import pyplot as plt

In [157]:
def butter_lowpass(cutoff, fs, order=100):
    nyq = 0.5 * fs
    normal_cutoff = cutoff / nyq
    b, a = butter(order, normal_cutoff, btype='low', analog=False)
    return b, a

In [167]:
nyq = 0.5 * fs
def butter_lowpass_filter(data, cutoff, fs, order):
    normal_cutoff = cutoff / nyq
    # Get the filter coefficients 
    b, a = butter(order, normal_cutoff, btype='low', analog=False)
    y = filtfilt(b, a, data)
    return y

In [159]:
order = 100
fs = 703.47      # sample rate, Hz
cutoff = 7.0347

In [160]:
b, a = butter_lowpass(cutoff, fs, order)

In [153]:
detailVolDownsampled=pd.read_csv("detailVolDownsampled.csv")

In [154]:
detailVolDownsampled

,Unnamed: 0,Unnamed: 0.1,Record ID,StepName,Relative Time(h:min:s.ms),Realtime,Auxiliary channel TU1 U(V),Gap of Voltage
0,208335,11730,208336,0,0:24:56.000,2020-10-13 05:55:00,-0.0013,0
1,118053,52518,118054,0,0:42:19.000,2020-10-12 04:50:39,-0.0013,0
2,286834,24694,286835,0,3:13:05.000,2020-10-14 03:43:02,-0.0012,0
3,51987,51987,51988,0,1:24:48.000,2020-10-11 10:29:49,-0.0015,0
4,163893,32823,163894,0,0:44:58.000,2020-10-12 17:34:30,-0.0012,0
...,...,...,...,...,...,...,...,...
70342,416676,23466,458630,2,0:09:56.000,2020-10-16 03:25:35,-0.0012,0
70343,416677,23467,458631,2,0:09:57.000,2020-10-16 03:25:36,-0.0012,0
70344,416678,23468,458632,2,0:09:58.000,2020-10-16 03:25:37,-0.0012,0
70345,416679,23469,458633,2,0:09:59.000,2020-10-16 03:25:38,-0.0012,0
70346,416680,23470,458634,2,0:10:00.000,2020-10-16 03:25:39,-0.0012,0

In [169]:
from scipy.signal import butter,filtfilt
y = butter_lowpass_filter(detailVolDownsampled, cutoff, fs, order)

ValueError: The length of the input vector x must be greater than padlen, which is 303.

AttributeError: 'DataFrame' object has no attribute 'dtype'